.root {
    // display: flex;

    // justify-content: space-between;

    &_input {
        display: flex;
    }


    &_img {
        // position: relative;
        max-width: 25px;

        height: auto;
    }

    &_close {

        max-width: 25px;

    }

    input {
        width: 350px;
        border: 1px solid;
        border-radius: 20px;

        padding: 10px 10px 10px 40px;

        &::placeholder {
            padding-left: 20px;
            text-indent: 0; // сбрасываем text-indent если был

        }
    }


}