.root {

    &_input {
        display: flex;
    }

    .input__item {
        display: flex;
    }


    &_img {
        position: relative;
        max-width: 25px;
        left: 33px;
        height: auto;
    }

    &_active {
        position: relative;
        right: 36px;
        max-width: 15px;

    }

    &_close {
        position: relative;
        right: 36px;
        max-width: 15px;
        opacity: 0;

    }

    input {
        width: 350px;
        border: 1px solid;
        border-radius: 20px;

        padding: 10px 10px 10px 40px;

        &::placeholder {
            padding-left: 20px;
            text-indent: 0; // сбрасываем text-indent если был

        }
    }


}