@import '../variables';

.categories {
  ul {
    display: flex;
    justify-content: space-between;

    @media (max-width:1400px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width:940px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width:740px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

    }


    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      @media (max-width:1400px) {
        margin-top: 10px;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}